@font-face {
  font-family: sahel;
  src: url(./fonts/Sahel-Bold.ttf);
}


html , body {
  margin : 0;
  font-family : sahel;
}


main {
  display : flex ;
  flex-direction: row;
  width : 100%;
  text-align : center;
  margin : auto;
  margin-top : 60px;
}

table {
  flex : 1;
  border-collapse : collapse;
  margin : 0;
  padding : 0;
}

tr { 
  flex : 1;
}

td {
  flex : 1;
  border : 2px solid #000;
  font-size : 16px;
  padding : 10px;
}